/***HERO IMAGE*/
#Present{
    background-image:url("../img/Hero_metag.jpeg");
    background-position: 100% 0%;
    background-size:cover;
}

.Main_Promo{
    background: linear-gradient(60deg, #442ab9, rgb(252, 151, 63));
    background-size: 300vw;
    animation: gradient 6s ease forwards;
    animation-iteration-count: infinite;
}

/***DATE HOUR SECTION*/
#Main_data{
    background-color: rgb(252, 151, 63);
}
.accordion{
    background-color:  rgba(255, 136, 0, 0.807);
}

@media only screen and (max-width: 1000px) {
    #Opening{
        background-image:url("../img/Hero_metag2.jpeg");
        background-position: 100% 120%;
        background-size:cover;
    }
    h1, h2, h3{
        background: linear-gradient(39deg, transparent, rgba(41, 10, 111, 0.9)40%)
    }
}