*{
    margin:0;
    padding:0;
}
html{
    font-size: 10px; /*Initial font-size adjusted to 10px*/
    letter-spacing: 0.1rem;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/*MAIN STYLING*/
h1{
    margin: 5rem 0 1rem;
    font-size: 2.5rem;
    color:#362f8e;
    text-align: center;
    font-weight: 200;
}
h2{
    margin: 2rem 0 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
h3{
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
}
p {
    margin:0.7rem 2rem;
}

/*PROMO SECTION*/
.Main_Promo{
    padding: 0 2rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    background: linear-gradient(-45deg, #4f46c9, #362f8e);
    background-size: 300vw;

}
.Main_Promo:hover{
    animation: gradient 1s ease forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.Main_Promo p{
    margin: 1rem 0;
}
.Main_Promo a{
    color:#ffffff;
    text-decoration: none;
}
#Agende{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    padding: 0 2rem;
    height: 4rem;
    border:1px solid #ffffff;
    border-radius: 1rem;
}

#Agende:hover{
    color:#4f46c9;
    background: white;
}

/*BANNER SECTION*/

#Banner{
   background-color: #362f8e;
   background-image:url("../img/DNA4.jpg");
   background-size: cover;
   background-position: center;
   height: 30rem;
}

/***CONTENT SECTIONS*/
#Analisis, #Consultoria, #Quienes, .Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 5rem 4rem 7rem;
    font-size: 1.4rem;
    text-align: justify;
}
#Consultoria, .Contacto{
    padding:2rem;
    display: flex;
    background:#eeeeee;
}
#Analisis_caract{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 0 5rem;
}
.caract{
    margin: 2rem 1rem;
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #362f8e;
}
.caract div{
    height: 50px;
    display: flex;
    align-items:  center;
    margin: 0 1rem;
}
.caract .icon{
    width: 10rem;
    margin: 2rem 0px 1rem;
}
#Analisis .Aplicacion{
    margin: 7rem 0;
}
.Aplicacion img{
    height: 20rem;
    object-fit: cover;
}
#Consultoria img{
    height: 35rem;
    width: 35rem;
    object-fit: cover;
    border-radius: 50%;
}
#Quienes{
    background-image:url("../img/squares_background.png");
    background-size: cover;
}
#Quienes div{
    width: 65%;
    background-color: hsl(0, 0%, 100%,70%);
}
.Contacto p{
    font-size: 1.8rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Contacto_medios{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}
.Contacto .icon{
    width: 8rem; height: 8rem;
}
.Contacto .flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*CLASSES OF GENERAL USE*/

.horizontal_flex{
    display:flex;
    flex-direction: row;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    p{
        margin:1.5rem 1rem;
    }
    .horizontal_flex{
        flex-direction: column;
    }
    .Main_Promo{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #Analisis, #Consultoria,#Quienes, .Contacto{
        padding: 2rem 2rem 7rem;
    }
    #Analisis_caract{
        display: flex;
        flex-direction: column;
    }
    #Analisis .caract{
        margin: 1rem 1rem;
        padding: 1rem 1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .Contacto_medios{
        flex-direction: column;
    }
    .Contacto .flex{
        margin: 1rem 1rem;
        padding: 1rem 1rem;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    #Quienes div{
        width:
         100%;
    }
    *{
        /*border:1px solid blueviolet*/
    }
}
